 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers
 article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
} 

.js-animation {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: all 1s;
}
.js-animation.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* resetcss end */

body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  width: 100%;
}

.wrap {
	overflow: hidden;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

/* header start */
header {
  height: 75vh;
}

.top-img {
  height: 75vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.logo {
  position: relative;
  top: 30vh;
  opacity: 0.95;
  background-color: white;
  padding-bottom: 20px;
}

span.logo-title {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 150px;
  color: #333;
  line-height: 1;
  letter-spacing: -5px;
  text-align: center;
}

span.logo-desc {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  color: #333;
}

.navber {
  padding: 50px;
  z-index: 100;
  text-align: center;
}

ul {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}

li {
  font-weight: bold;
  display: flex;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  padding: 0 30px 20px 0;
  list-style: none;
}

li h2 {
  color: #333;
  letter-spacing: -0.01em;
  margin-left: 5px;
}
/* header end */

/* content start */
.inner {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

.section-title-block {
  margin-bottom: 20px;
  text-align: center;
}

.section-title {
  font-size: 36px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
/* content end */

/* profile start */
h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 3px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.2em
}
.two-column-wrapper {
  margin: 0 auto;
  display: flex;
}

.two-column-image {
  width: 150%;
  margin-top: 100px;
}
img{
  max-width: 100%;
  height: 60vh;
  border: none;
  display: block;
  margin: 0 auto;
}

.two-column-desc {
  width: 100%;
  margin: 50px 0 0 200px;
}
/* profile end */

/* skill start */

.card {
  margin: 30px;
}

.skill-desc-title {
  margin-bottom: 3px;
  font-size: 26px;
  padding: 24px;
  font-weight: bold;
  text-align: center;
}

p {
  text-align: center;
  margin-bottom: 1rem;
}

.table {
  margin-bottom: 1rem;
  text-align: center;
}

.table th {
  padding: 1rem;
  font-weight: bold;
}

.star-rating {
  margin-left: 50px;
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;

}

/* starrank start */
.star-rating-front1 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
  width: 80%;
}

.star-rating-front2 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
  width: 80%;
}

.star-rating-front3 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
  width: 40%;
}

.star-rating-front4 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
  width: 40%;
}

.star-rating-front5 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
  width: 60%;
}

.star-rating-front6 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
  width: 60%;
}

.star-rating-front7 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
  width: 80%;
}

.star-rating-front8 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
  width: 40%;
}

.star-rating-front9 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
  width: 80%;
}

.star-rating-front10 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
  width: 80%;
}
/* starrank end */

.star-rating-back {
  color: #ccc;
}
/* skill end */

/* work start */

.work-card{
  background-color: white;
  padding: 0;
  margin: 40px;
}

.card-image {
  width: 100%;
  margin-bottom: 20px;
}

.image {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

.card-caption {
  margin:15px;
}

.caption-title {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
}

.caption-subtitle {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.caption-info {
  font-size: 13px;
  margin-bottom: 15px;
  line-height: 1.3em;
}

a {
  color: #333;
}
/* work end */

/* contact start */
.contact-list{
  width: 5rem;
  height: 8rem;
  margin: 50px auto 20px;
}

.contact-list i{
  color: black;
  padding-bottom: 5px;
}

.contact-list-desc {
  font-size: 20px;
  color: black;
}

/* contact end */

/* footer start */
#footer {
  background-color: #333;
  color: white;
}

#footer .inner {
  padding: 40px 0 30px 0;
  margin: 0 auto;
}

.footer-link a {
  color: white;
  font-size: 15px;
}

.copyright {
  font-size: 10px;
}

/* footer end */

#page_top {
  position: fixed;
  bottom: 30px;
  right: 20px;
}
#page_top a {
  background-color: #999;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 20px 20px;
}
#page_top a:hover {
  background-color: #666;
  text-decoration: none;
}

@media screen and (max-width: 1179px) {

  .navber {
    padding: 50px 0 30px;
    z-index: 100;
    text-align: center;
    }

  li {
    font-weight: bold;
    display: flex;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    padding: 0 10px 10px 0;
    list-style: none;
  }

  ul {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
  }

  span.logo-title {
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    color: #333;
    line-height: 1;
    letter-spacing: -5px;
    text-align: center;
  }
  

  .two-column-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    display: block;
  }
  
  .two-column-image {
    width: 100%;
    margin-top: 0;
  }

  .image2 {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    padding: 0 30px 20px;
  }
  
  img{
    max-width: 100%;
    height: auto;
    border: none;
    display: block;
  }
  
  .two-column-desc {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0 30px;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3px;
  }
  
  h4 {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.2em
  }


/* starrank start */
.star-rating {
  position: relative;
  height: 1em;
  margin-left: 1px;
  width: 2em;
}

/* .star-rating {
  margin-left: 50px;
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;

} */

.star-rating-front1 {
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
  width: 80%;
}

.star-rating-front2 {
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
  width: 80%;
}

.star-rating-front3 {
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
  width: 40%;
}

.star-rating-front4 {
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
  width: 40%;
}

.star-rating-front5 {
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
  width: 60%;
}

.star-rating-front6 {
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
  width: 60%;
}

.star-rating-front7 {
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
  width: 80%;
}

.star-rating-front8 {
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
  width: 40%;
}

.star-rating-front9 {
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
  width: 80%;
}

.star-rating-front10 {
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
  white-space: nowrap;
  width: 80%;
}
/* starrank end */

.star-rating-back {
  font-size: 10px;
  color: #ccc;
}

}